.button.small-bottom-margin {
	margin-bottom: 0.25em;
}

body {
	margin-top: 50px;
}

.green {
	color: green;
}

.red {
	color: red;
}

.blue {
	color: blue;
}

.tool-info {
	text-align: center;
}

.panel.small-padding {
	padding: 5px;
}

.panel.white {
	background-color: white;
}
