.button.small-bottom-margin {
	margin-bottom: 0.25em;
}

.top-bar {
	margin-bottom: 10px;
}

.green {
	color: green;
}

.red {
	color: red;
}

.yellow {
	color: yellow;
}

.purple {
	color: purple;
}

.blue {
	color: blue;
}

.panel.small-padding {
	padding: 5px;
}

.small-padding-left {
	padding-left: 20px;
}

.panel.white {
	background-color: white;
}

.tool.panel {
	margin: 0px;
}

.clickable {
	cursor: pointer;
}

.write.comment {
	margin: 0px;
}

.fixed-container {
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	background-color: white;
}

.tool-stats {
	margin: 0px !important;
}

.clearfix:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.link-color {
	color: #008CBA;
}

.fa {
	margin-right: 5px;
}

form.margin-fix input,
form.margin-fix textarea,
form.margin-fix select {
	margin-bottom: 0px;
}

form.margin-fix div {
	margin-bottom: 1rem;
}

.button.margin-fix {
	margin-bottom: 0px;
}
